@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

body {
  font-family: 'PingFang UI', 'Microsoft JhengHei', Helvetica, sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
}
