@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: fantasy --default, abyss --prefersdark;
  @theme {
    --font-sans: 'Noto Sans', sans-serif;
    --font-mono: 'Jetbrains Mono', monospace;
    --active-border: 'inset 0 -2px 0 0 #000000';
    --shadow-3xl: 0 35px 35px rgba(0, 0, 0, 1);
  }
}

.prose table {
  display: block;
  overflow-x: auto;
  width: 100%;
}
