@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: fantasy --default, abyss --prefersdark;
}

.prose table {
  display: block;
  overflow-x: auto;
  width: 100%;
}
