@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: dim --default, coffee --prefersdark;
}
body {
  font-family: 'PingFang UI', 'Microsoft JhengHei', Helvetica, sans-serif;
}
