@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: lemonade --default, dim --prefersdark, nord, dracula, sunset;
}
body {
  font-family: 'PingFang UI', 'Microsoft JhengHei', Helvetica, sans-serif;
}
