@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: lemonade --default, dim --prefersdark, nord, dracula, sunset, abyss;
  @theme {
    --font-sans: 'Noto Sans', sans-serif;
    --font-mono: 'Jetbrains Mono', monospace;
  }
}

.prose table {
  display: block;
  overflow-x: auto;
  width: 100%;
}
