name: Publish dev
on:
  push:
    branches:
      - dev
    paths-ignore:
      - '**.md'
      - '**.sh'
      - '**.txt'
      - '**.sql'
      - '**.csv'
      - '**.gitignore'
  workflow_dispatch:
jobs:
  github:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.12.2
          cache: 'npm'
      - run: |
          npm ci
          npm run build --if-present
          tar -czf dist.tar.gz ./public .next/static -C .next/standalone .
      - uses: softprops/action-gh-release@v2
        with:
          tag_name: snapshot
          files: dist.tar.gz
          prerelease: true
          make_latest: false
  dockerhub:
    runs-on: ubuntu-latest
    permissions: write-all
    needs: github
    steps:
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: wwricu
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          push: true
          file: DockerfileDev
          tags: wwricu/blog-page:snapshot
